body {
  font-size: 16px;
  background: #f5f7f9;
}
h1 {
  text-align: center;
  font-size: 30px;
}
.starter-template {
  padding: 40px 15px;
}
input,
button {
  margin: 5px 0;
}
input:hover,
input:focus {
  outline: 0;
  transition: all 0.5s linear;
  box-shadow: inset 0 0 10px #ccc;
}
.back-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/back.png");
  background-size: 50px;
  height: 45px;
  width: 125px;
  margin: 15px 0 0 15px;
}
.back-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.profilePicture {
  margin: 45px 0px 30px;
}
legend {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  font-weight: 600;
  color: #fff;
}
.form-check-label {
  color: #fff;
}
.social-providers p {
  color: #fff;
}
a {
  cursor: pointer;
}
.authTitle {
  padding: 100px 0 0 0;
  text-align: center;
}
.accountTitle {
  padding: 100px 0;
}
.twoFactor {
  margin: 80px 0px 0px;
}
.provider {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  outline: none;
}
.facebook {
  background: #3B5998;
}
.google {
  background: #D14836;
}
.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.form-group #submit {
  margin-bottom: 30px;
}
.user {
  margin-top: 50px;
}
.user .data {
  margin-top: 10px;
}
.userName {
  font-weight: 600;
  font-size: 25px;
}
.userEmail {
  font-size: 15px;
}
.data {
  color: #fff;
}
.accountColumn {
  background-color: #fff;
  height: 100vh;
  max-width: 260px;
}
.infoColumn {
  padding-left: 100px;
}
.form-control {
  border-radius: 0;
}
[class^='ion-'] {
  font-size: 1.2em;
}
.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}
.has-feedback .form-control {
  padding-left: 42.5px;
}
.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btn-lg {
  font-size: 18px;
}
meter {
  /* Reset the default appearance */
  -moz-appearance: none;
  appearance: none;
  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;
  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value {
  background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
  background: orange;
}
meter[value="3"]::-webkit-meter-optimum-value {
  background: yellow;
}
meter[value="4"]::-webkit-meter-optimum-value {
  background: green;
}
meter::-webkit-meter-even-less-good-value {
  background: red;
}
meter::-webkit-meter-suboptimum-value {
  background: orange;
}
meter::-webkit-meter-optimum-value {
  background: green;
}
meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar {
  background: red;
}
meter[value="2"]::-moz-meter-bar {
  background: orange;
}
meter[value="3"]::-moz-meter-bar {
  background: yellow;
}
meter[value="4"]::-moz-meter-bar {
  background: green;
}
meter::-webkit-meter-optimum-value {
  transition: width 0.4s ease-out;
}
/*---------------------------------Images---------------------------------*/
/* Button Icons */
/* Toolbar */
/* Player Cover */
/* Player Banner */
/* Player Selected */
/*------------------------------------Color-------------------------------*/
/*----------------------------------Prototypes----------------------------*/
.red {
  background-color: #a62829;
}
.blue {
  background-color: #3a45b4;
}
.green {
  background-color: #336a5e;
}
.purple {
  background-color: #74419d;
}
/* Background */
.background-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
/* Buttons */
.btn {
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
}
.btn-active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.centerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.background-img-game {
  background: no-repeat center center fixed url("images/backgrounds/background-wood.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
/*-------------------------Top-Row------------------------------------*/
.title {
  float: left;
  margin: 30px 0 30px 0;
}
.home-button {
  border-color: #000000;
  border-width: 3px;
  border-radius: 50%;
  float: right;
  height: 85px;
  width: 85px;
  background: no-repeat center #ffffff url("images/castle.png");
  background-size: 55px;
}
/*-------------------------Mid-Row-----------------------------------*/
.player1turn {
  right: 76%;
  top: 51%;
  position: absolute;
}
.player2turn {
  right: 76%;
  top: 24%;
  position: absolute;
}
.playerStats {
  margin: 5px auto 15px;
  height: 235px;
  width: 300px;
  background-size: 120%;
}
.blue-player {
  background: no-repeat center url("images/players/blueBanner.png");
  margin: 5px auto 15px;
  height: 235px;
  width: 300px;
  background-size: 120%;
}
.red-player {
  background: no-repeat center url("images/players/redBanner.png");
  margin: 5px auto 15px;
  height: 235px;
  width: 300px;
  background-size: 120%;
}
.green-player {
  background: no-repeat center url("images/players/greenBanner.png");
  margin: 5px auto 15px;
  height: 235px;
  width: 300px;
  background-size: 120%;
}
.purple-player {
  background: no-repeat center url("images/players/purpleBanner.png");
  margin: 5px auto 15px;
  height: 235px;
  width: 300px;
  background-size: 120%;
}
.playerName {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 42%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
.playerPoints {
  width: 100px;
  position: absolute;
  top: 64%;
  left: 39%;
  text-align: center;
  font-weight: bold;
}
section.mapWrapper {
  max-width: 980px;
}
.card-preview {
  width: 150px;
  position: relative;
  border-radius: 50%;
  top: 24%;
  left: 33%;
  transition-duration: 0.8s;
  transition-property: transform;
}
.hint-button {
  float: left;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  border: none;
  background: no-repeat center #FFC400 url("images/buttons/hint.png");
  background-size: 15px;
}
.preview-help {
  margin: 20px 0 0 150px;
}
.button-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  margin: 15px 0 0 30px;
}
/*-------------------------Bottom-Column------------------------------*/
.centerToolbar {
  position: relative;
  top: -20%;
  left: 20%;
}
section.wrapper {
  max-width: 100%;
  height: 200px;
}
.toolbarItems {
  background-size: 100%;
  height: 200px;
  width: 120px;
  float: left;
}
.left-background {
  background: no-repeat center url("images/shields/left.png");
  background-size: 100%;
  height: 200px;
  width: 120px;
  float: left;
}
.pause-background {
  background: no-repeat center url("images/shields/pause.png");
  background-size: 100%;
  height: 200px;
  width: 120px;
  float: left;
}
.right-background {
  background: no-repeat center url("images/shields/right.png");
  background-size: 100%;
  height: 200px;
  width: 120px;
  float: left;
}
.toolbar-button {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  opacity: 0;
  position: relative;
  top: 33%;
  left: 28%;
}
.cardPreview-background {
  background: no-repeat center url("images/shields/cardPreview.png");
  background-size: 118%;
  height: 400px;
  width: 400px;
  float: left;
  padding: 35px 25px 0 0;
}
/*-------------------------ANIMATION-------------------------------------*/
.animationgame {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
}
.transform {
  position: absolute;
  z-index: 99;
  right: calc(100% + 1200px);
  transition: right 2s;
  -webkit-transition: right 2s;
  -moz-transition: right 2s;
  transition-timing-function: cubic-bezier(0.75, 1.21, 0.93, 1.1);
  visibility: visible;
}
.transform-active {
  background-color: #45CEE0;
  right: 0;
  visibility: hidden;
}
/*body {
  background: no-repeat center center fixed url(../public/images/background-wood.png);
  background-size: cover;
}*/
.background-img-land {
  background: no-repeat center url("images/backgrounds/burg.jpeg");
}
.background-img-playerSettings {
  background: no-repeat center center fixed url("images/backgrounds/background-wood.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.titleWhite {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.start-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/start.png");
  background-size: 200px;
  height: 85px;
  width: 250px;
}
.start-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.home-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/back.png");
  background-size: 50px;
  height: 45px;
  width: 125px;
  margin: 40px 0 0 5px;
}
.home-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.centered-buttons {
  margin: 20% 0 0 0;
}
/* -------------- Start ------ Player Images and Button */
.selectPlayers {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.coverIMG {
  width: 150px;
}
@media screen and (min-width: 720px) {
  .coverIMG {
    width: 150px;
  }
}
@media screen and (min-width: 980px) {
  .coverIMG {
    width: 180px;
  }
}
@media screen and (min-width: 1424px) {
  .coverIMG {
    width: 220px;
  }
}
@media screen and (min-width: 2048px) {
  .coverIMG {
    width: 280px;
  }
}
.playerButtons {
  cursor: pointer;
  width: 180px;
  height: 48px;
  border-radius: 8px;
  margin-top: 40px;
  overflow: hidden;
  -webkit-transform: scale(0.7);
}
.playerButtons::after {
  position: relative;
  display: block;
  width: 48px;
  height: 107%;
  margin-top: -1px;
  margin-left: -7px;
  border-radius: 6px 0 0 6px;
}
.playerButtons::before {
  content: "";
  display: block;
  width: 48px;
  height: 46px;
  margin-left: -7px;
  margin-top: -1px;
  /*Button smooth fill animation*/
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}
/* Start --- Button fill color */
.bluePlayer:hover .playerButtons::before {
  width: 120%;
  background-color: #3a45b4;
}
.redPlayer:hover .playerButtons::before {
  width: 120%;
  background-color: #a62829;
}
.greenPlayer:hover .playerButtons::before {
  width: 120%;
  background-color: #336a5e;
}
.purplePlayer:hover .playerButtons::before {
  width: 120%;
  background-color: #74419d;
}
/* End --- Button fill color */
.player {
  margin: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Raise playercover */
.player:hover .playerCover {
  -webkit-transform: translateY(-14px) scale(1.04);
  transform: translateY(-14px) scale(1.04);
}
/* Start --- Buttons and size */
.playerButtons {
  color: #fff;
  font-size: 22px;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
}
.bluePlayer .playerButtons {
  border: 1px solid #3a45b4;
}
.redPlayer .playerButtons {
  border: 1px solid #a62829;
}
.greenPlayer .playerButtons {
  border: 1px solid #336a5e;
}
.purplePlayer .playerButtons {
  border: 1px solid #74419d;
}
/* End --- Buttons and size */
/* Start --- Rechteck neben Namen */
.playerButtons::after {
  top: -85px;
  text-align: center;
  font-weight: bolder;
}
.bluePlayer .playerButtons::after {
  content: "1";
  background-color: #0d1673;
}
.redPlayer .playerButtons::after {
  content: "2";
  background-color: #741511;
}
.greenPlayer .playerButtons::after {
  content: "3";
  background-color: #1a3a32;
}
.purplePlayer .playerButtons::after {
  content: "4";
  background-color: #491177;
}
/* End --- Rechteck neben Namen */
.playerCover {
  -webkit-transition: all 400ms ease-in-out;
}
.playerCover .coverIMG {
  -webkit-transition: all 260ms ease-in-out;
}
/* Backlight für playercover */
.player .playerCover::after {
  content: "";
  z-index: -99;
  position: absolute;
  top: 20px;
  left: -20px;
  display: block;
  width: 160px;
  height: 214px;
  background-position: center;
  background-repeat: no-repeat;
  /* Größe für backlight */
  background-size: 160px 214px;
  -webkit-filter: blur(24px);
  filter: blur(24px);
  -webkit-transition: all 260ms ease-in-out;
  transition: all 260ms ease-in-out;
  will-change: transform;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.player:hover .playerCover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.bluePlayer .playerCover::after {
  background-image: url("images/players/bluePlayer.png");
}
.redPlayer .playerCover::after {
  background-image: url("images/players/redPlayer.png");
}
.greenPlayer .playerCover::after {
  background-image: url("images/players/greenPlayer.png");
}
.purplePlayer .playerCover::after {
  background-image: url("images/players/purplePlayer.png");
}
.bluePlayer .playerButtons .buttonDIV::before {
  content: 'Sir Gaheris';
  position: relative;
  top: -44px;
  left: 4px;
  color: #3a45b4;
  font-size: 21px;
  font-weight: 300;
}
.bluePlayer:hover .playerButtons .buttonDIV::before {
  color: #fff;
}
.redPlayer .playerButtons .buttonDIV::before {
  content: 'Sir Bedivere';
  position: relative;
  top: -44px;
  left: 9px;
  color: #a62829;
  font-size: 21px;
  font-weight: 300;
}
.redPlayer:hover .playerButtons .buttonDIV::before {
  color: #fff;
}
.greenPlayer .playerButtons .buttonDIV::before {
  content: 'Sir Gareth';
  position: relative;
  top: -44px;
  left: 3px;
  color: #336a5e;
  font-size: 21px;
  font-weight: 300;
}
.greenPlayer:hover .playerButtons .buttonDIV::before {
  color: #fff;
}
.purplePlayer .playerButtons .buttonDIV::before {
  content: 'Sir Bors';
  position: relative;
  top: -44px;
  left: -9px;
  color: #74419d;
  font-size: 21px;
  font-weight: 300;
}
.purplePlayer:hover .playerButtons .buttonDIV::before {
  color: #fff;
}
.playerCoverActive {
  -webkit-transform: translateY(-14px) scale(1.04);
  transform: translateY(-14px) scale(1.04);
  content: "";
  z-index: -99;
  position: absolute;
  top: 20px;
  left: -20px;
  display: block;
  width: 190px;
  height: 214px;
  background-position: center;
  background-repeat: no-repeat;
  /* Größe für backlight */
  background-size: 160px 214px;
  -webkit-filter: blur(24px);
  filter: blur(24px);
}
/* Player Selected */
.noneSelected {
  background: center center no-repeat url("images/players/noneSelected.png");
  background-size: 100%;
  height: 100%;
}
.blueSelected {
  background: center center no-repeat url("images/players/blueSelected.png");
  background-size: 100%;
  height: 100%;
}
.redSelected {
  background: center center no-repeat url("images/players/redSelected.png");
  background-size: 100%;
  height: 100%;
}
.greenSelected {
  background: center center no-repeat url("images/players/greenSelected.png");
  background-size: 100%;
  height: 100%;
}
.purpleSelected {
  background: center center no-repeat url("images/players/purpleSelected.png");
  background-size: 100%;
  height: 100%;
}
/*body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 90rem;
  perspective: 90rem;
  -webkit-perspective-origin: 34% 61%;
  perspective-origin: 34% 61%;
  background: no-repeat center center fixed url(../public/images/background-wood.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
.background-img-rules {
  background: no-repeat center center fixed url("images/backgrounds/background-wood.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.rulesStyling {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  height: 700px;
  width: 530px;
  background: no-repeat center url("images/backgrounds/papyrus.png");
  background-size: 100%;
  margin: 40px auto 0;
}
.firstSection {
  padding: 80px 100px 0 100px;
}
.secondSection {
  padding: 20px 100px 0 100px;
}
.thirdSection {
  padding: 0 100px 40px 100px;
}
.home-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/back.png");
  background-size: 50px;
  height: 45px;
  width: 125px;
  margin: 40px 0 0 5px;
}
.home-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.examples {
  width: 400px;
}
.centeredExamples {
  display: block;
  margin: 30px auto 0;
  width: 50%;
}
/*body {
  background: no-repeat center center fixed url(../public/images/mapBackground.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}*/
.background-img-startScreen {
  background: no-repeat center center fixed url("images/backgrounds/mapBackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.topRow {
  height: 85%;
}
.bottomRow {
  height: 15%;
}
.header {
  padding: 100px 0 0 0;
  text-align: center;
}
.description {
  padding: 50px 0 200px 0;
  text-align: center;
}
/*---------------------------- Buttons -----------------------*/
.playerSettings-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/start.png");
  background-size: 200px;
  height: 85px;
  width: 250px;
}
.playerSettings-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.rules-btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  color: #ffffff;
  display: block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #969696, 0 9px 25px rgba(0, 0, 0, 0.9);
  float: left;
  background: no-repeat center #ffffff url("images/buttons/rules.png");
  background-size: 100px;
  height: 85px;
  width: 250px;
}
.rules-btn:active {
  box-shadow: 0 3px 0 #969696, 0 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}
.account-button {
  border-color: #000000;
  border-width: 3px;
  border-radius: 50%;
  float: right;
  height: 85px;
  width: 85px;
  background: no-repeat center #ffffff url("images/profilePicture.png");
  background-size: 75px;
}
