body {
    background: no-repeat center center fixed url(../images/background-wood.png);
    background-size: cover;
}

.titleWhite  {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.selectPlayers  {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.coverIMG {
    width: 160px;
}

.playerButtons {
    cursor: pointer;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    margin-top: 40px;
    overflow: hidden;
    -webkit-transform: scale(.7);
}

.playerButtons::after {
    position: relative;
    display: block;
    width: 48px;
    height: 107%;
    margin-top: -1px;
    margin-left: -7px;
    border-radius: 6px 0 0 6px;
}

.playerButtons::before {
    content: "";
    display: block;
    width: 48px;
    height: 46px;
    margin-left: -7px;
    margin-top: -1px;
    /*Button smooth fill animation*/
    -webkit-transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

/* Start --- Button fill color */
.bluePlayer:hover .playerButtons::before {
    width: 120%;
    background-color: #3a45b4;
}

.redPlayer:hover .playerButtons::before {
    width: 120%;
    background-color: #a62829;
}

.greenPlayer:hover .playerButtons::before {
    width: 120%;
    background-color: #336a5e;
}

.purplePlayer:hover .playerButtons::before {
    width: 120%;
    background-color: #a62829;
}
/* End --- Button fill color */

.player {
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column
}

/* Raise playercover */
.player:hover .playerCover {
    -webkit-transform: translateY(-14px) scale(1.04);
    transform: translateY(-14px) scale(1.04);
}

/* Start --- Buttons and size */
.playerButtons {
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.bluePlayer .playerButtons {
    border: 1px solid #3a45b4;
}
.redPlayer .playerButtons {
    border: 1px solid #a62829;
}
.greenPlayer .playerButtons {
    border: 1px solid #336a5e;
}
.purplePlayer .playerButtons {
    border: 1px solid #a62829;
}
/* End --- Buttons and size */



/* Start --- Rechteck neben Namen */
.playerButtons::after {
    top: -85px;
    text-align: center;
    font-weight: bolder;
}

.bluePlayer .playerButtons::after {
    content: "1";
    background-color: #0d1673;
}
.redPlayer .playerButtons::after {
    content: "2";
    background-color: #741511;
}
.greenPlayer .playerButtons::after {
    content: "3";
    background-color: #1a3a32;
}
.purplePlayer .playerButtons::after {
    content: "4";
    background-color: #741511;
}
/* End --- Rechteck neben Namen */


.playerCover {
    -webkit-transition: all 400ms ease-in-out;
}

.playerCover .coverIMG {
    -webkit-transition: all 260ms ease-in-out;
}

/*  */
.player .playerCover::after {
    content: "";
    z-index: -99;
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 160px;
    height: 214px;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    -webkit-filter: blur(24px);
    filter: blur(24px);
    -webkit-transition: all 260ms ease-in-out;
    transition: all 260ms ease-in-out;
    will-change: transform;
    -webkit-transform: scale(.6);
    transform: scale(.6);
}

.player:hover .playerCover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bluePlayer .playerCover::after {
    background-image: url(../images/playerSettings-blau.png);
}

.redPlayer .playerCover::after {
    background-image: url(../images/playerSettings-rot.png);
}

.greenPlayer .playerCover::after {
    background-image: url(../images/playerSettings-green.png);
}

.purplePlayer .playerCover::after {
    background-image: url(../images/playerSettings-rot.png);
}

.bluePlayer .playerButtons .buttonDIV::before {
    content: 'Sir Gaheris';
    position: relative;
    top: -44px;
    left: 4px;
    color: #3a45b4;
    font-size: 21px;
    font-weight: 300;
}

.bluePlayer:hover .playerButtons .buttonDIV::before {
    color: #fff;
}

.redPlayer .playerButtons .buttonDIV::before {
    content: 'Sir Bedivere';
    position: relative;
    top: -44px;
    left: 9px;
    color: #a62829;
    font-size: 21px;
    font-weight: 300;
}

.redPlayer:hover .playerButtons .buttonDIV::before {
    color: #fff;
}

.greenPlayer .playerButtons .buttonDIV::before {
    content: 'Sir Gareth';
    position: relative;
    top: -44px;
    left: 3px;
    color: #1a3a32;
    font-size: 21px;
    font-weight: 300;
}

.greenPlayer:hover .playerButtons .buttonDIV::before {
    color: #fff;
}

.purplePlayer .playerButtons .buttonDIV::before {
    content: 'Sir Bors';
    position: relative;
    top: -44px;
    left: -9px;
    color: #a62829;
    font-size: 21px;
    font-weight: 300;
}

.purplePlayer:hover .playerButtons .buttonDIV::before {
    color: #fff;
}

/*
.dr {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width:100px;
}
*/



.start-button {
    border-color: #000000;
    border-width: 5px;
    border-radius: 10px;
    height: 85px;
    width: 250px;
    background: no-repeat center #ffffff url(../images/start.png);
    background-size: 200px;
}




.start-btn {
    position: relative;
    background: no-repeat center #ffffff url(../images/start.png);
    background-size: 200px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(150, 150, 150, 1),0px 9px 25px rgba(0, 0, 0, .9);
    height: 85px;
    width: 250px;
    float: left;

}
.start-btn:active {
    box-shadow: 0 3px 0 rgba(150, 150, 150, 1),0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.home-btn {
    position: relative;
    background: no-repeat center #ffffff url(../images/back.png);
    background-size: 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(150, 150, 150, 1),0px 9px 25px rgba(0, 0, 0, .9);
    height: 45px;
    width: 125px;
    float: left;
    margin: 40px 0px 0px 5px;
}
.home-btn:active {
    box-shadow: 0 3px 0 rgba(150, 150, 150, 1),0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.centered-buttons {
    position: relative;
    left: 40%;
    width: 100%;
    height: 100%;
}