
.header {
    padding: 100px 0 0 0;
    text-align: center;
}

.description {
    padding: 50px 0px 200px 0px;
    text-align: center;
}



.bottom {
    margin-bottom: 50px;
}


body {
    background: no-repeat center center fixed url(../images/mapBackground.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.startScreenBackground {

}

.rowToBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}






/*---------------------------- Buttons -----------------------*/

.playerSettings-btn {
    position: relative;
    background: no-repeat center #ffffff url(../images/start.png);
    background-size: 200px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(150, 150, 150, 1),0px 9px 25px rgba(0, 0, 0, .9);
    margin: 0px auto;
    height: 85px;
    width: 250px;
    text-align: center;

}
.playerSettings-btn:active {
    box-shadow: 0 3px 0 rgba(150, 150, 150, 1),0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}


.rules-btn {
    position: relative;
    background: no-repeat center #ffffff url(../images/rules.png);
    background-size: 100px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 3em;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 9px 0 rgba(150, 150, 150, 1),0px 9px 25px rgba(0, 0, 0, .9);
    margin: 0px auto;
    height: 85px;
    width: 250px;
    text-align: center;

}
.rules-btn:active {
    box-shadow: 0 3px 0 rgba(150, 150, 150, 1),0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}